@font-face {
  font-family: "openpass";
  src: url("../font/overpasssemibold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "openpass-bold";
  src: url("../font/overpassextrabold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "openpass-light";
  src: url("../font/overpasslight.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

summary {
  font-size: 2rem;
  color: var(--color-black);
  padding: 2rem;
  margin-bottom: 1rem;
  outline: none;
  border-radius: 1rem;
  text-align: left;
  cursor: pointer;
  position: relative;
  background: white;
  background: linear-gradient(122deg, white 0%, #dadaff 35%, #d1f7ff 100%);
}

details > summary::after {
  position: absolute;
  content: "+";
  right: 20px;
}

details[open] > summary::after {
  position: absolute;
  content: "-";
  right: 20px;
}

details > summary::-webkit-details-marker {
  display: none;
}

details[open] summary ~ * {
  -webkit-animation: sweep 0.5s ease-in-out;
          animation: sweep 0.5s ease-in-out;
}

@-webkit-keyframes sweep {
  0% {
    opacity: 0;
    margin-top: -10px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

@keyframes sweep {
  0% {
    opacity: 0;
    margin-top: -10px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
:root {
  --color-primary: #fed100;
  --color-primary-light: #ffdd44;
  --color-primary-dark: #cca700;
  --color-black: #101410;
  --color-white: #fefffe;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --line: 1px solid var(--color-grey-light-2);
}

* {
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 60.5%;
  scroll-behavior: smooth;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 40%;
  }
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: "openpass", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--color-black);
  min-height: 100vh;
}

.section {
  padding: 6rem 10rem;
  text-align: center;
}

@media only screen and (max-width: 56.25em) {
  .section {
    padding: 2rem;
  }
}

.conatiner {
  width: 100%;
}

.footer {
  background-color: var(--color-black);
  color: var(--color-white);
}

.nav {
  font-size: 1.8rem;
  padding: 1rem 4rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(153, 153, 153, 0.3);
  z-index: 1000;
  position: fixed;
  background-color: #fff;
}

@media only screen and (max-width: 56.25em) {
  .nav {
    padding: 2rem 4rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .nav__container--middle {
    display: none;
  }
}

.nav__img {
  width: 16rem;
}

.nav__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item {
  margin: 0rem 1.5rem;
}

.nav__link {
  text-decoration: none;
  color: var(--color-black);
}

.btn {
  padding: 0 1rem;
  min-width: 16rem;
  min-height: 5rem;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 0;
  border-radius: 10px;
  font-size: 1.6rem;
  font-family: "openpass", sans-serif;
}

.btn--black {
  background-color: #000000;
  color: #fff;
}

.header {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Created with https://www.css-gradient.com */
  background: url("../img/hero.png"), -webkit-gradient(linear, left top, left bottom, from(#FFDD00), to(#FBB034));
  background: url("../img/hero.png"), linear-gradient(#FFDD00, #FBB034);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 50%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  text-align: center;
}

.hero__text {
  text-transform: capitalize;
}

.hero__sub-text {
  width: 60%;
}

@media only screen and (max-width: 56.25em) {
  .hero__sub-text {
    width: 70%;
  }
}

.hero__button--right {
  cursor: not-allowed;
}

@media only screen and (max-width: 56.25em) {
  .hero {
    width: 100%;
  }
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

@media only screen and (max-width: 56.25em) {
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2rem;
    text-align: center;
    margin: 6rem 0;
  }
}

.about__container {
  width: 35%;
}

@media only screen and (max-width: 56.25em) {
  .about__container {
    width: 100%;
  }
  .about__container > * {
    margin: 4rem 0;
  }
}

.about__container--right > * {
  margin: 2rem 0;
}

.about__img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about__img {
  width: 45%;
  margin: 1rem;
  border-radius: 10px;
}

@media only screen and (max-width: 56.25em) {
  .how-it-works__container {
    padding: 6rem 2rem;
  }
}

.service-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 56.25em) {
  .service-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.service {
  margin: 4rem 2rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 56.25em) {
  .service {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.service > * {
  margin: 2rem 0;
}

.service__img {
  width: 50rem;
  height: 30rem;
  border-radius: 10px;
}

@media only screen and (max-width: 56.25em) {
  .service__img {
    width: 100%;
    text-align: center;
  }
}

.service__left {
  width: 40%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media only screen and (max-width: 56.25em) {
  .service__left {
    width: 100%;
    text-align: center;
  }
  .service__left > * {
    margin-bottom: 2.5rem;
  }
}

.service__title {
  font-size: 4rem;
  font-family: "openpass-bold";
}

.service--rev {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media only screen and (max-width: 56.25em) {
  .service--rev {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.partners__img {
  margin: 1rem;
  width: 25rem;
  height: 10rem;
}

@media only screen and (max-width: 56.25em) {
  .partners__img {
    width: 20rem;
    height: 8rem;
  }
}

.team__img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.team__card {
  margin: 2rem;
}

.team__img {
  width: 15rem;
  border-radius: 100%;
  margin-bottom: 2rem;
}

.team__position {
  font-family: "openpass-light", sans-serif !important;
}

.contact {
  padding: 4rem;
  background-color: var(--color-grey-light-3);
  background: gold;
}

.contact__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact__img {
  width: 8rem;
}

.faq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6rem 2rem;
}

.faq__title {
  margin: 4rem 0;
}

.faq__box {
  width: 70%;
  text-align: left;
}

@media only screen and (max-width: 56.25em) {
  .faq__box {
    width: 90%;
  }
}

.faq__ans {
  padding: 2rem 4rem;
}

.footer {
  margin: 0 !important;
  background: black;
}

.footer__img {
  width: 15rem;
}

.footer__container {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__container > * {
  border-top: 1px #666 solid;
  padding-top: 3rem;
  width: 50%;
}

@media only screen and (max-width: 56.25em) {
  .footer__container > * {
    border-top: none;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 56.25em) {
  .footer__container {
    margin-top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 56.25em) {
  .footer__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__item {
  list-style: none;
  font-size: 1.8rem;
  margin-right: 1.5rem;
  cursor: pointer;
}

.footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__right > * {
  margin-right: 1.5rem;
}

.footer__link {
  color: var(--color-white);
}

.banner {
  padding: 9rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFDD00), to(#FBB034));
  background: linear-gradient(#FFDD00, #FBB034);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner > * {
  width: 70%;
}

.h1 {
  font-size: 8rem;
  font-family: "openpass-bold", sans-serif;
  line-height: 1;
}

.h2 {
  font-size: 6rem;
  font-family: "openpass-bold", sans-serif;
  line-height: 1;
}

.h3 {
  font-size: 1.8rem;
  font-family: "openpass-bold", sans-serif;
}

.h4 {
  font-size: 1.6rem;
}

.para {
  font-size: 2.2rem;
  font-family: "openpass", sans-serif;
}

.mb {
  margin-bottom: 2rem;
}

.mb--xl {
  margin-bottom: 4rem;
}

.ml {
  margin-left: 2rem;
}

.link {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.color-yellow {
  color: var(--color-primary);
}
