.nav{
    font-size: 1.8rem;
    padding: 0 4rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba($color: #999, $alpha: 0.3);
    
    &__img{
        width: 10rem;
    }

    &__list{
        list-style: none;
        display: flex;
    }

    &__item{
        margin: 0rem 1.5rem;
    }

    &__link{
        text-decoration: none;
        color: var(--color-black);
    }
}

// BTN button

.btn{
    padding: 0 1rem;   
    min-width: 16rem;
    min-height: 5rem;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 0;
    border-radius: 10px;
    font-size: 1.8rem;
}
