// Naviagtion

.nav {
  font-size: 1.8rem;
  padding: 1rem 4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba($color: #999, $alpha: 0.3);
  z-index: 1000;
  position: fixed;
  background-color: #fff;

  @include respond(tab-port) {
    padding: 2rem 4rem;      
  }

  &__container{
    &--middle{
      @include respond(tab-port) {
        display: none;      
      }
    }
  }

  &__img {
    width: 16rem;
  }

  &__list {
    list-style: none;
    display: flex;
  }

  &__item {
    margin: 0rem 1.5rem;
  }

  &__link {
    text-decoration: none;
    color: var(--color-black);
  }
}

// BTN button

.btn {
  padding: 0 1rem;
  min-width: 16rem;
  min-height: 5rem;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 0;
  border-radius: 10px;
  font-size: 1.6rem;
  font-family: "openpass", sans-serif;

  &--black {
    background-color: #000000;
    color: #fff;
  }
}

//  HERO

.header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* Created with https://www.css-gradient.com */
  background: url("../img/hero.png"),linear-gradient(#FFDD00, #FBB034);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

//  HERO SECTION

.hero {
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
  text-align: center;

  &__text{
    text-transform: capitalize;
  }

  &__sub-text {
    width: 60%;
    @include respond(tab-port) {
      width: 70%;
    }
  }

  &__button{
    &--right{
      cursor: not-allowed;
    }
  }

  @include respond(tab-port) {
    width: 100%;
  }
}

// ABOUT SECTION

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  @include respond(tab-port) {
    flex-direction: column;
    padding: 2rem;
    text-align: center;
    margin: 6rem 0;
  }
  &__container {
    width: 35%;

    @include respond(tab-port) {
      & > * {
        margin: 4rem 0;
      }
      width: 100%;
    }

    &--right > * {
      margin: 2rem 0;
    }
  }

  &__img-box {
    display: flex;
    flex-wrap: wrap;
  }

  &__img {
    width: 45%;
    margin: 1rem;
    border-radius: 10px;
  }
}

// HOW IT WORKS SECTION
.how-it-works{
  // transform: skewY(-7deg);
  
  background-color: var(--color-grey-light-3);

  background: rgb(237, 255, 150);
  background: linear-gradient(
    122deg,
    rgba(237, 255, 150, 1) 0%,
    rgba(251, 255, 218, 1) 35%,
    rgba(251, 255, 209, 1) 100%
  );

  &__container{
    // transform: skewY(7deg);

    @include respond(tab-port) {
     padding: 6rem 2rem;
    }
  }
}

//  SERVICE
.service-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  @include respond(tab-port) {
    flex-direction: column;
  }
}
.service {
  margin: 4rem 2rem;
  text-align: center;
  display: flex;
  justify-content: space-between;

  @include respond(tab-port) {
    flex-direction: column;
  }
  & > * {
    margin: 2rem 0;
  }

  &__img {
    width: 50rem;
    height: 30rem;
    border-radius: 10px;
    @include respond(tab-port) {
      width: 100%;
      text-align: center;
    }
  }

  &__left{
    width: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @include respond(tab-port) {
      width: 100%;
      text-align: center;

      & > *{
        margin-bottom: 2.5rem;
      }
    }
  }

  
  &__title{
    font-size: 4rem;
    font-family: "openpass-bold";
  }

  &--rev{
    flex-direction: row-reverse;

    @include respond(tab-port) {
      flex-direction: column;
     }
  }
}

// Partners
.partners {
  &__img {
    margin: 1rem;
    width: 25rem;
    height: 10rem;

    @include respond(tab-port) {
      width: 20rem;
      height: 8rem;
    }
  }
}

// TEAM

.team {
  &__img-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  &__card {
    margin: 2rem;
  }
  &__img {
    width: 15rem;
    border-radius: 100%;
    margin-bottom: 2rem;
  }

  &__position {
    font-family: "openpass-light", sans-serif !important;
  }
}

// CONTACT

.contact {
  padding: 4rem;
  background-color: var(--color-grey-light-3);

  background: rgb(237, 255, 150);
  background: linear-gradient(
    122deg,
    rgba(237, 255, 150, 1) 0%,
    rgba(251, 255, 218, 1) 35%,
    rgba(251, 255, 209, 1) 100%
  );

  &__box{
    display: flex;
    justify-content: center;
  }

  &__img{
    width: 8rem;
  }
}

// FAQ

.faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem 2rem;


  &__title{
    margin: 4rem 0;
  }

  @include respond(tab-port) {
  }

  &__box {
    width: 70%;
    text-align: left;

    @include respond(tab-port) {
      width: 90%
    }
  }

  &__ans {
    padding: 2rem 4rem;
  }
}

// FOOTER
.footer {
  margin: 0 !important;
  background: rgb(0, 0, 0);

  &__img{
    width: 15rem;
  }
  
  &__container{
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;

    & > * {
      border-top: 1px #666 solid;
      padding-top: 3rem;
      width: 50%;

      @include respond(tab-port) {
        border-top: none;
        width: 100%;
        display: flex;
        flex-direction: column;
      }
    }

    @include respond(tab-port) {
      margin-top: 0;
     flex-direction: column;
    }
  }

  &__list{
    display: flex;
    @include respond(tab-port) {
     flex-direction: column;
    }
  }

  &__item{
    list-style: none;
    font-size: 1.8rem;
    margin-right: 1.5rem;
    cursor: pointer;
  }

  &__right{
    display: flex;
    align-items: center;

    & > * {
      margin-right: 1.5rem;
    }
  }

  &__link{
    color: var(--color-white)
  }
}

// BANNER
.banner{
  padding: 9rem;
  background: linear-gradient(#FFDD00, #FBB034);
  text-align: center;
  display: flex;
  justify-content: center;

  & > * {
    width: 70%;
  }
}