@charset "UTF-8";

@font-face {
  font-family: "openpass";
  src:url("../font/overpasssemibold.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "openpass-bold";
  src:url("../font/overpassextrabold.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "openpass-light";
  src:url("../font/overpasslight.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
}