.h1{
    font-size: 8rem;
    font-family: "openpass-bold", sans-serif;
    line-height: 1;
}

.h2{
    font-size: 6rem;
    font-family: "openpass-bold", sans-serif;
    line-height: 1;
}

.h3{
    font-size: 1.8rem;
    font-family: "openpass-bold", sans-serif;
}

.h4{
    font-size: 1.6rem;
}

.para{
    font-size: 2.2rem;
    font-family: "openpass", sans-serif;
}

.mb{
    margin-bottom: 2rem;

    &--xl{
        margin-bottom: 4rem;
    }
}

.ml{
    margin-left: 2rem;
}

.link{
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.color-yellow{
    color: var(--color-primary);
}