.h1{
    font-size: 6rem;
    font-family: "openpass-bold", sans-serif;
}

.h2{
    font-size: 4rem;
    font-family: "openpass-bold", sans-serif;
}

.h3{
    font-size: 1.8rem;
    font-family: "openpass-bold", sans-serif;
}

.para{
    font-size: 2.2rem;
    font-family: "openpass", sans-serif;
}

.mb{
    margin-bottom: 2rem;
}